.js-defense-position{}
.js-enter-substitution{}
.js-player-container{}
.js-player-template{}
.js-batter-position{}

.js-button-command{}
.js-button-misc-context{}
.js-button-pitch{}
.js-lineup{}
.js-inning-visitor{}
.js-inning-home{}
.js-lineup-batter{}
.js-lineup-pitcher{}
.js-label-atbat{}
.js-label-ondeck{}
.js-label-field{}
.js-pitch-type{}
.js-pitch-list{}
.js-pitch-region{}
.js-field{}
.js-field-canvas{}
.js-misc-menu{}
.js-header-second{}
.js-batting-batside{}

.js-button-hit{}
.js-button-k{}
.js-button-outs{}
.js-button-err{}
.js-button-steal{}
.js-button-ar{}

.js-inning-visitor-r{}
.js-inning-visitor-h{}
.js-inning-visitor-e{}
.js-inning-home-r{}
.js-inning-home-h{}
.js-inning-home-e{}